img{
	min-width: 80%;
	max-width: 100%;
	padding-right: 10px;
}

.main-lines{
	padding: 10px;
	margin-top: 10px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.main-lines section{
	margin-left: 5px;
	margin-right: 5px;
	background-color: RGBA(200,200,200, 0.8); 
}.main-block-1{
	grid-column: 1;
}.main-block-2{
	grid-column: 2;
}.main-block-3{
	grid-column: 3;
}

@media(max-width: 700px){
	.main-lines{ 
		display: block;
		padding:0;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main-lines section{ 
		margin-top:10px;
	}
}

